@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: 'Work Sans';

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appWrapper {
  text-align: center;  
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.appWrapper::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: -250%;
  left: -250%;
  height: 500%;
  width: 500%;
  opacity: 40%;
  background: url(./assets/backgroundIcon.png) 0 0 repeat;
  background-repeat: space;
  transform: rotate(-7.23deg);
}

.app {
  margin: 64px auto 64px auto;
  max-width: 954px;
  border-radius: 30px;
  padding: 80px;
  background-color: #F4F5F5;
}

.logoAndTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 794px;
  margin: 0 auto;
  gap: 16px;
  height: 48px;
}

h1 {
  font-size: 40px;
  color: #2C8F5B;
  font-weight: 600;
  text-align: start;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  text-align: start;
  margin: 80px 0 16px 0;
}

.addTaskFormWrapper {
  margin: 0 auto;
  max-width: 794px;
}

.addTaskForm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 794px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 16px;
  height: 48px;
}

.addTaskForm input {
  flex: 1 0 70%;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Work Sans';
  padding: 0 0 0 16px;
  border: #2C8F5B 1px solid;
  border-radius: 12px;
}

.addTaskForm input::placeholder {
  color: #CACECD;
}

.addTaskForm button {
  border: 0;
  padding: 16px 24px;
  font-family: 'Work Sans';
  background-color: #2C8F5B;
  border-radius: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: white;
  box-shadow: none;
}

ul {
  margin: 0 auto;
  max-width: 794px;
  padding: 0;
}

li {
  margin-top: 16px;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: blue; */
  height: 22px;
  width: 12px;
  margin-right: 1rem;
  justify-content: center;
  cursor: grab;
}

.circle {
  margin: auto;
  padding: 0;
  background-color: #4E5551;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  /* cursor: grab; */
}

.checkboxDescriptionWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: start;
  align-items: center;
}

.description {
  flex: 1;
  text-align: left;
  margin-left: 8px;
}

.checkbox {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  border: #2C8F5B 1 solid;
}

input[type='checkbox'] {
  accent-color: #2C8F5B;
}

input:checked+span {
  text-decoration: line-through;
  color: #4E5553;
}

.checked:hover {
  background-color: blue;
}

form label {
  flex-grow: 1;
  text-align: left;
}

form label input {
  display: block;
  margin-top: .5rem;
  width: 95%;
}

form button {
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.4s;
}

form button:hover {
  background-color: #288051;
  transition: background-color 0.4s;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Work Sans';
}

.defaultButton {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  line-height: 16px;
  min-width: 101px;
}

.editButton {
  background-color: #F4F5F5;
  border-radius: 8px;
  border: #2C8F5B 1.5px solid;
  padding: 10px 16px;
  color: #2C8F5B;
  cursor:not-allowed;
}

.deleteButton {
  background-color: #AF3636;
  border-radius: 8px;
  padding: 10px 16px;
  color: white;
  transition: background-color 0.4s;
}

.deleteButton:hover {
  background-color: #942e2e;
  transition: background-color 0.4s;
}

.icon {
  width: 16px;
  height: 16px;
}                                                                                                                                                               

.deleteButton .icon {
  color: white;
}